### Упражнение 1

* Скачайте с портала Открытых Данных производственный календарь России: https://data.gov.ru/opendata/7708660670-proizvcalendar
* На его основе определите соответствующий календарь в Pandas: `RussianBusinessCalendar(AbstractHolidayCalendar)`
* С помощью полученного в пункте выше календаря и модуля `pd.offsets` создайте DataFrame one-hot календарных признаков:
    * День недели
    * Месяц
    * Выходной день
    * Праздничный день
    * Предпраздничный рабочий день
    * Последний день месяца
    * Последний рабочий день месяца
    * Предновогодний выходной день

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Год/Месяц,Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь,Всего рабочих дней,Всего праздничных и выходных дней,Количество рабочих часов при 40-часовой рабочей неделе,Количество рабочих часов при 36-часовой рабочей неделе,Количество рабочих часов при 24-часовой рабочей неделе
0,1999,"1,2,3,4,6*,7,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,24,25,30*","1,2,3,4,8,9,10,15,16,22,23,29,30","5,6,11*,12,13,14,19,20,26,27","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31","6,7,8,13,14,20,21,27,28","4,5,11,12,13,18,19,25,26,31*",251,114,2004,1807.2,1204.8
1,2000,"1,2,3,4,6*,7,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","4,5,7*,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","1,2,6,7,8*,9,13,14,20,21,27,28","3,4,10,11,12,17,18,24,25","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29","4,5,7,11,12,18,19,25,26","2,3,9,10,11*,12,16,17,23,24,30,31",250,116,1995,1800.0,1200.0
2,2001,"1,2,6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,24,25","3,4,7*,8,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29,30*","1,2,5,6,8*,9,12,13,19,20,26,27","2,3,9,10,11*,12,16,17,23,24,30","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,6*,7,10,11,17,18,24,25","1,2,8,9,12,15,16,22,23,29,30",251,114,2001,1807.2,1204.8
3,2002,"1,2,5,6,7,12,13,19,20,26,27","2,3,9,10,16,17,22*,23,24,25","2,3,7*,8,9,10,16,17,23,24,30,31","6,7,13,14,20,21,28,30*","1,2,3,4,5,8*,9,10,11,12,19,25,26","1,2,8,9,11*,12,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,6*,7,8,9,16,17,23,24,30","1,7,8,11*,12,13,14,21,22,28,29,31*",250,115,1992,1792.0,1192.0
4,2003,"1,2,3,5*,6,7,11,12,18,19,25,26","1,2,8,9,15,16,22,23,24","1,2,7*,8,9,10,15,16,22,23,29,30","5,6,12,13,19,20,26,27,30*","1,2,3,4,8*,9,10,11,17,18,24,25,31","1,7,8,11*,12,13,14,15,22,28,29","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1,2,6*,7,8,9,15,16,22,23,29,30","6,7,11*,12,13,14,20,21,27,28,31*",250,115,1992,1792.0,1192.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 18 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Год/Месяц                                               27 non-null     int64
 1   Январь                                                  27 non-null     object
 2   Февраль                                                 27 non-null     object
 3   Март                                                    27 non-null     object
 4   Апрель                                                  27 non-null     object
 5   Май                                                     27 non-null     object
 6   Июнь                                                    27 non-null     object
 7   Июль                                                    27 non-null     object
 8   Август                                                  27 non-null     object
 9   Сентябрь                                                27 non-null     object
 10  Октябрь                                                 27 non-null     object
 11  Ноябрь                                                  27 non-null     object
 12  Декабрь                                                 27 non-null     object
 13  Всего рабочих дней                                      27 non-null     int64
 14  Всего праздничных и выходных дней                       27 non-null     int64
 15  Количество рабочих часов при 40-часовой рабочей неделе  27 non-null     int64
 16  Количество рабочих часов при 36-часовой рабочей неделе  27 non-null     float64
 17  Количество рабочих часов при 24-часовой рабочей неделе  27 non-null     float64
dtypes: float64(2), int64(4), object(12)
memory usage: 3.9+ KB

In [4]:
week_days_dct = {'пн': 0,
                 'вт': 1,
                 'ср': 2,
                 'чт': 3,
                 'пт': 4,
                 'сб': 5,
                 'вс': 6}
week_days_dct

{'пн': 0, 'вт': 1, 'ср': 2, 'чт': 3, 'пт': 4, 'сб': 5, 'вс': 6}

In [5]:
months_dct = {'январь': 1,
              'февраль': 2,
              'март': 3,
              'апрель': 4,
              'май': 5,
              'июнь': 6,
              'июль': 7,
              'август': 8,
              'сентябрь': 9,
              'октябрь': 10,
              'ноябрь': 11,
              'декабрь': 12}
months_dct

{'январь': 1,
 'февраль': 2,
 'март': 3,
 'апрель': 4,
 'май': 5,
 'июнь': 6,
 'июль': 7,
 'август': 8,
 'сентябрь': 9,
 'октябрь': 10,
 'ноябрь': 11,
 'декабрь': 12}

In [6]:
holidays_lst = ['01.01.1999',
                '02.01.1999',
                '03.01.1999',
                '04.01.1999',
                '05.01.1999',
                '06.01.1999',
                '07.01.1999',
                '23.02.1999',
                '08.03.1999',
                '01.05.1999',
                '09.05.1999',
                '12.06.1999',
                '04.11.1999']
holidays_lst = pd.to_datetime(
    holidays_lst, format='%d.%m.%Y').strftime('%B %d')
holidays_lst

Index(['January 01', 'January 02', 'January 03', 'January 04', 'January 05',
       'January 06', 'January 07', 'February 23', 'March 08', 'May 01',
       'May 09', 'June 12', 'November 04'],
      dtype='object')

In [7]:
daysoff = []
day_before_holidays = []
day_before_new_year = []

In [8]:
for i in df.index:
    for month in months_dct:
        days = df.loc[i, month.capitalize()].split(',')
        for day in days:
            if '*' in day:
                day_before_holidays.append(str(day[:-1]) + ', '
                                           + str(months_dct[month]) + ', '
                                           + str(df['Год/Месяц'][i]))
            elif '+' in day:
                daysoff.append(str(day[:-1]) + ', '
                               + str(months_dct[month]) + ', '
                               + str(df['Год/Месяц'][i]))
            else:
                daysoff.append(str(day) + ', '
                               + str(months_dct[month]) + ', '
                               + str(df['Год/Месяц'][i]))
    day_before_new_year.append(daysoff[-1])

In [9]:
daysoff = pd.to_datetime(daysoff, format='%d, %m, %Y')
daysoff

DatetimeIndex(['1999-01-01', '1999-01-02', '1999-01-03', '1999-01-04',
               '1999-01-07', '1999-01-09', '1999-01-10', '1999-01-16',
               '1999-01-17', '1999-01-23',
               ...
               '2025-11-29', '2025-11-30', '2025-12-06', '2025-12-07',
               '2025-12-13', '2025-12-14', '2025-12-20', '2025-12-21',
               '2025-12-27', '2025-12-28'],
              dtype='datetime64[ns]', length=3145, freq=None)

In [10]:
day_before_holidays = pd.to_datetime(day_before_holidays, format='%d, %m, %Y')
day_before_holidays

DatetimeIndex(['1999-01-06', '1999-04-30', '1999-06-11', '1999-12-31',
               '2000-01-06', '2000-03-07', '2000-05-08', '2000-12-11',
               '2001-03-07', '2001-04-30',
               ...
               '2024-04-30', '2024-05-08', '2024-06-11', '2024-12-31',
               '2025-03-07', '2025-04-30', '2025-05-08', '2025-06-11',
               '2025-11-03', '2025-12-31'],
              dtype='datetime64[ns]', length=133, freq=None)

In [11]:
day_before_new_year = pd.to_datetime(day_before_new_year, format='%d, %m, %Y')
day_before_new_year

DatetimeIndex(['1999-12-26', '2000-12-31', '2001-12-30', '2002-12-29',
               '2003-12-28', '2004-12-26', '2005-12-31', '2006-12-31',
               '2007-12-31', '2008-12-28', '2009-12-27', '2010-12-26',
               '2011-12-31', '2012-12-31', '2013-12-29', '2014-12-28',
               '2015-12-27', '2016-12-31', '2017-12-31', '2018-12-31',
               '2019-12-29', '2020-12-27', '2021-12-26', '2022-12-31',
               '2023-12-31', '2024-12-29', '2025-12-28'],
              dtype='datetime64[ns]', freq=None)

In [12]:
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday, EasterMonday
from pandas.tseries.offsets import DateOffset, Day


class RussianBusinessCalendar(AbstractHolidayCalendar):
    start_date = dt.datetime(1999, 1, 1)
    end_date = dt.datetime(2025, 12, 31)
    rules = [Holiday('Russian Days Off', month=day.month, day=day.day,
                     year=day.year) for day in daysoff]


russian_business_calendar = pd.offsets.CustomBusinessDay(weekmask='Mon Tue Wed Thu Fri',
                                                         calendar=RussianBusinessCalendar())

In [13]:
full_events = pd.DataFrame(index=pd.date_range(
    '1999-01-01', '2025-12-31', freq='D'))
full_events['выходной'] = [int(x)
                               for x in [i in daysoff for i in full_events.index]]
full_events['праздник'] = [int(x) for x in [i.strftime(
    '%B %d') in holidays_lst for i in full_events.index]]
day_before_holidays = [dt.datetime(i.year, i.month, i.day) + pd.Timedelta(
    days=1) - russian_business_calendar for i in full_events[full_events['праздник'] == 1].index]
full_events['предпраздничный рабочий день'] = [
    int(x) for x in [i in day_before_holidays for i in full_events.index]]
last_day_of_month = [pd.to_datetime(str(year)) + pd.offsets.MonthEnd(i)
                     for year in full_events.index.year.unique() for i in range(1, 13)]
full_events['последний день месяца'] = [
    int(x) for x in [i in last_day_of_month for i in full_events.index]]
last_work_day_of_month = [dt.datetime(i.year, i.month, i.day) + pd.Timedelta(
    days=1) - russian_business_calendar for i in last_day_of_month]
full_events['последний рабочий день месяца'] = [
    int(x) for x in [i in last_work_day_of_month for i in full_events.index]]
for week_day in week_days_dct:
    full_events[week_day] = [1 if i == week_days_dct[week_day]
                             else 0 for i in full_events.index.weekday]
for month in months_dct:
    full_events[month] = [1 if i == months_dct[month]
                          else 0 for i in full_events.index.month]
full_events['предновогодний выходной день'] = [int(x) for x in [i in day_before_new_year for i in full_events.index]]
full_events

,выходной,праздник,предпраздничный рабочий день,последний день месяца,последний рабочий день месяца,пн,вт,ср,чт,пт,...,апрель,май,июнь,июль,август,сентябрь,октябрь,ноябрь,декабрь,предновогодний выходной день
1999-01-01,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1999-01-02,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999-01-03,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999-01-04,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999-01-05,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-12-27,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2025-12-28,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2025-12-29,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2025-12-30,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2025-12-31,0,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
events = full_events['2014-01-01':'2014-01-05']

In [15]:
# пример требуемого DataFrame
events

,выходной,праздник,предпраздничный рабочий день,последний день месяца,последний рабочий день месяца,пн,вт,ср,чт,пт,...,апрель,май,июнь,июль,август,сентябрь,октябрь,ноябрь,декабрь,предновогодний выходной день
2014-01-01,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-02,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-03,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2014-01-04,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-05,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Упражнение 2

* Для временного ряда курса акций Сбербанка на основе производственного календаря России сформируйте DataFrame признаков:
    * Лаговые переменные рабочих дней с глубинами: 1, 3, 5
    * Скользящие статистики `['mean', 'median', 'max', 'min', 'std'] ` с окнами 1, 3, 5 сгрупированные по дням недели
    * Статистики `['mean', 'median', 'max', 'min', 'std'] ` в расширяющемся окне сгруппированные по рабочим, праздничным и предпраздничным дням