<a href="https://colab.research.google.com/github/mukaseevru/sberbank_data_analysis_06_07_21/blob/master/hw6/parser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Подключение библиотек

In [ ]:
# Загрузка необходимых модулей
import numpy as np
import pandas as pd
import datetime as dt
import requests
import re
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from time import sleep
from bs4 import BeautifulSoup

# Настройки

In [ ]:
# Таймаут в секундах, если ошибка соединения
timeout = 1
# Debug mode
debug = True
# Настройки по сайтам
sites = {}
# Включить рассылку
sites['send'] = True
# banki.ru
sites['banki'] = {}
sites['banki']['on'] = True
sites['banki']['first_page'] = 1
sites['banki']['last_page'] = 50
sites['banki']['send'] = True
# vtb.ru
sites['vtb'] = {}
sites['vtb']['on'] = True
sites['vtb']['first_page'] = 1
sites['vtb']['last_page'] = 10
sites['vtb']['send'] = True
# alfabank.ru
sites['alfa'] = {}
sites['alfa']['on'] = True
sites['alfa']['first_page'] = 2021
sites['alfa']['last_page'] = 2022
sites['alfa']['send'] = True

In [ ]:
sites

{'alfa': {'first_page': 2021, 'last_page': 2022, 'on': True, 'send': True},
 'banki': {'first_page': 1, 'last_page': 50, 'on': True, 'send': True},
 'send': True,
 'vtb': {'first_page': 1, 'last_page': 10, 'on': True, 'send': True}}

# Определение функций

In [ ]:
def load_page(url):
    '''
    Функция загрузки веб страницы
    '''
    count = 0
    while True:
        try:
            with requests.Session() as session:
                session.headers['Connection'] = 'keep-alive'
                session.headers['Cache-Control'] = 'max-age=0'
                session.headers['Upgrade-Insecure-Requests'] = '1'
                session.headers['User-Agent'] = 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36 OPR/40.0.2308.81'
                session.headers['Accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8'
                session.headers['DNT'] = '1'
                session.headers['Accept-Encoding'] = 'gzip, deflate, lzma, sdch'
                session.headers['Accept-Language'] = 'ru-RU,ru;q=0.8,en-US;q=0.6,en;q=0.4'
                retry = Retry(connect=3, backoff_factor=0.5)
                adapter = HTTPAdapter(max_retries=retry)
                session.mount('http://', adapter)
                session.mount('https://', adapter)
                session.proxies = {
                    # 'http': '185.198.189.21:8080',
                    # 'https': '185.198.189.21:8080'
                }
                response = session.get(url)
            if response.status_code != 200:
                # log.info("Ошибка, код ответа: %s", response.status)
                print('Ошибка, код ответа: %s', response.status_code)
                sleep(timeout)
                count += 1
                if count > 5:
                    return (-1)
                # Попробуем снова на следующей итерации цикла
                continue
            # Если дошли до сюда, значит ошибок не было
            return response
        except ConnectionError:
            # Выводим свое сообщение плюс стек трассы
            # log.exception("Ошибка ConnectionError")
            print('Ошибка ConnectionError')
            sleep(timeout)


def remove_emojis(text):
    '''
    Функция очистки текста от эмоджи
    '''
    emoj = re.compile("["
                      u"\U0001F600-\U0001F64F"  # emoticons
                      u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                      u"\U0001F680-\U0001F6FF"  # transport & map symbols
                      u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                      u"\U00002500-\U00002BEF"  # chinese char
                      u"\U00002702-\U000027B0"
                      u"\U00002702-\U000027B0"
                      u"\U000024C2-\U0001F251"
                      u"\U0001f926-\U0001f937"
                      u"\U00010000-\U0010ffff"
                      u"\u2640-\u2642"
                      u"\u2600-\u2B55"
                      u"\u200d"
                      u"\u23cf"
                      u"\u23e9"
                      u"\u231a"
                      u"\ufe0f"  # dingbats
                      u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, ' ', text)


def clean_text(text):
    '''
    Функция очистки текста от спецсимволов
    '''
    if pd.isnull(text):
        return np.nan
    text = remove_emojis(text)
    text = text.replace('\n', ' ')\
        .replace('\r', ' ')\
        .replace('\t', ' ')\
        .replace('\u200b', ' ')\
        .replace('•', ' ')\
        .replace('<', ' ')\
        .replace('>', ' ')\
        .strip()
    while '  ' in text:
        text = text.replace('  ', ' ')
    return text

# banki.ru

## Загрузка имеющихся данных

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.getcwd()

'/content'

Чтобы каждый раз не выгружать все новости заново, загрузим уже скачанный ранее датасет

In [ ]:
# скачать можно здесь: https://drive.google.com/file/d/1qRgl3SQ-DcFo7HK9WJgnQMq1npJDMOgN/view?usp=sharing
banki = pd.read_csv('drive/MyDrive/Colab Notebooks/sber/news/data/banki.csv',
                    dtype={'id': np.str,
                           'title': np.str,
                           'text': np.str,
                           'url': np.str,
                           'time': np.str,
                           'views': np.int64,
                           'comments': np.int64,
                           'source': np.str
                           })
banki.time = pd.to_datetime(banki.time, format='%Y-%m-%d %H:%M:%S')
banki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113250 entries, 0 to 113249
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        113250 non-null  object
 1   title     113250 non-null  object
 2   text      113172 non-null  object
 3   url       113250 non-null  object
 4   time      113250 non-null  datetime64[ns]
 5   views     113250 non-null  int64
 6   comments  113250 non-null  int64
 7   source    113211 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.9+ MB

In [ ]:
banki.tail()

              id  ...    source
113245  10938680  ...  Banki.ru
113246  10938679  ...  Banki.ru
113247  10938678  ...  Banki.ru
113248  10938677  ...  Banki.ru
113249  10938676  ...  Banki.ru

[5 rows x 8 columns]

## Цикл парсинга

Создадим цикл, который будет заходить на сайт и скачивать информацию о новостях. Если новость новая, добавляем ее в датасет. Если новость уже есть в датасете, то обновим информацию о просмотрах

In [ ]:
if sites['banki']['on']:
    for page in range(sites['banki']['first_page'], sites['banki']['last_page']):
        count_add_articles = 0
        count_upd_views = 0
        count_upd_comments = 0
        count_upd_source = 0
        url = 'https://www.banki.ru/news/lenta/page' + str(page)
        response = load_page(url)
        if response == -1:
            continue
        soup = BeautifulSoup(response.text, 'lxml')
        articles = soup.find_all(
            'ul', class_='text-list text-list--date text-list--date-inline')[0].find_all('li')
        for article in articles:
            # Кол-во просмотров
            views = 0
            # Кол-во комментариев
            comments = 0
            # Источник новости
            source = ''
            article_url = article.find('a', class_='text-list-link')
            if article_url.get('href')[0] == 'h':
                # print('Error url - {}'.format(article_url.get('href')))
                continue
            article_id = str(article_url.get('href').split('=')[1])
            article_info = article.find_all('span', class_='news__info')
            if len(article_info) > 1:
                source = clean_text(article_info[0].text)
                if article_info[1].text != '':
                    views = int(clean_text(
                        article_info[1].text.split('\n\t')[1]))
                if article_info[1].find('span', class_='link-with-icon__icon icon-font icon-bubble-16 icon-font--size_small'):
                    comments = int(clean_text(
                        article_info[1].text.split('\n\t')[3]))
            else:
                if article_info[0].text != '':
                    views = int(clean_text(
                        article_info[0].text.split('\n\t')[1]))
                if article_info[0].find('span', class_='link-with-icon__icon icon-font icon-bubble-16 icon-font--size_small'):
                    comments = int(clean_text(
                        article_info[0].text.split('\n\t')[3]))
            if banki[banki['id'] == article_id].shape[0] == 0:
                url = 'https://www.banki.ru' + article_url.get('href')
                response = load_page(url)
                if response == -1:
                    continue
                soup = BeautifulSoup(response.text, 'lxml')
                # Title
                title = soup.find('h1', class_='header-h0')
                # Text
                text = soup.find(
                    'article', class_='article-text plain-text markup-inside lenta')
                # Time
                time = soup.find('time')
                banki = banki.append({'id': str(article_id),
                                      'title': str(clean_text(title.text)),
                                      'text': str(clean_text(text.text)),
                                      'url': str(url),
                                      'time': pd.to_datetime(time.text, format='%d.%m.%Y %H:%M'),
                                      'views': int(views),
                                      'comments': int(comments),
                                      'source': str(source)}, ignore_index=True)
                count_add_articles += 1
            else:
                if banki.loc[banki['id'] == article_id, 'views'].values[0] != views:
                    banki.loc[banki['id'] == article_id, 'views'] = views
                    count_upd_views += 1
                if banki.loc[banki['id'] == article_id, 'comments'].values[0] != comments:
                    banki.loc[banki['id'] == article_id, 'comments'] = comments
                    count_upd_comments += 1
                if banki.loc[banki['id'] == article_id, 'source'].values[0] != source:
                    banki.loc[banki['id'] == article_id, 'source'] = source
                    count_upd_source += 1
        sites['banki']['first_page'] = page
        if debug:
            print('Page {}: ADD {}, UPD {} views, {} comments, {} source'.format(
                page, count_add_articles, count_upd_views, count_upd_comments, count_upd_source))

Page 1: ADD 13, UPD 0 views, 0 comments, 0 source
Page 2: ADD 38, UPD 0 views, 0 comments, 0 source
Page 3: ADD 48, UPD 0 views, 0 comments, 0 source
Page 4: ADD 55, UPD 0 views, 0 comments, 0 source
Page 5: ADD 8, UPD 0 views, 0 comments, 0 source
Page 6: ADD 17, UPD 0 views, 0 comments, 0 source
Page 7: ADD 36, UPD 0 views, 0 comments, 0 source
Page 8: ADD 13, UPD 0 views, 0 comments, 0 source
Page 9: ADD 18, UPD 0 views, 0 comments, 0 source
Page 10: ADD 29, UPD 0 views, 0 comments, 0 source
Page 11: ADD 45, UPD 0 views, 0 comments, 0 source
Page 12: ADD 5, UPD 0 views, 0 comments, 0 source
Page 13: ADD 15, UPD 0 views, 0 comments, 0 source
Page 14: ADD 19, UPD 0 views, 0 comments, 0 source
Page 15: ADD 53, UPD 0 views, 0 comments, 0 source
Page 16: ADD 55, UPD 0 views, 0 comments, 0 source
Page 17: ADD 11, UPD 0 views, 0 comments, 0 source
Page 18: ADD 28, UPD 0 views, 0 comments, 0 source
Page 19: ADD 42, UPD 0 views, 0 comments, 0 source
Page 20: ADD 0, UPD 7 views, 2 comments, 0 source
Page 21: ADD 0, UPD 33 views, 2 comments, 0 source
Page 22: ADD 0, UPD 41 views, 2 comments, 0 source
Page 23: ADD 0, UPD 55 views, 0 comments, 0 source
Page 24: ADD 4, UPD 51 views, 0 comments, 0 source
Page 25: ADD 0, UPD 11 views, 0 comments, 0 source
Page 26: ADD 0, UPD 24 views, 1 comments, 1 source
Page 27: ADD 0, UPD 55 views, 0 comments, 0 source
Page 28: ADD 4, UPD 51 views, 0 comments, 0 source
Page 29: ADD 0, UPD 7 views, 0 comments, 0 source
Page 30: ADD 0, UPD 23 views, 0 comments, 0 source
Page 31: ADD 0, UPD 25 views, 0 comments, 0 source
Page 32: ADD 0, UPD 39 views, 0 comments, 0 source
Page 33: ADD 4, UPD 9 views, 0 comments, 0 source
Page 34: ADD 0, UPD 8 views, 0 comments, 0 source
Page 35: ADD 0, UPD 18 views, 0 comments, 0 source
Page 36: ADD 0, UPD 31 views, 0 comments, 0 source
Page 37: ADD 0, UPD 43 views, 0 comments, 0 source
Page 38: ADD 0, UPD 44 views, 0 comments, 0 source
Page 39: ADD 0, UPD 5 views, 0 comments, 0 source
Page 40: ADD 0, UPD 18 views, 0 comments, 0 source
Page 41: ADD 0, UPD 32 views, 0 comments, 0 source
Page 42: ADD 0, UPD 38 views, 0 comments, 0 source
Page 43: ADD 0, UPD 39 views, 0 comments, 0 source
Page 44: ADD 0, UPD 41 views, 0 comments, 0 source
Page 45: ADD 4, UPD 10 views, 0 comments, 0 source
Page 46: ADD 0, UPD 29 views, 0 comments, 0 source
Page 47: ADD 0, UPD 39 views, 0 comments, 0 source
Page 48: ADD 0, UPD 40 views, 0 comments, 0 source
Page 49: ADD 0, UPD 39 views, 0 comments, 0 source

In [ ]:
banki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113814 entries, 0 to 113813
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        113814 non-null  object
 1   title     113814 non-null  object
 2   text      113736 non-null  object
 3   url       113814 non-null  object
 4   time      113814 non-null  datetime64[ns]
 5   views     113814 non-null  int64
 6   comments  113814 non-null  int64
 7   source    113776 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.9+ MB

## Обработка дубликатов

В цикле есть проверка на повтор новостей, но сделаем дополнительную проверку на случай изменения id новости

In [ ]:
banki.id.nunique()

113814

In [ ]:
banki.drop_duplicates(subset=['id'], inplace=True, keep='last')
banki.shape

(113814, 8)

In [ ]:
banki[banki.duplicated()].shape

(0, 8)

## Выгрузка в csv

Выгрузим весь датасет в файл, чтобы иметь возможность его загрузить в начале алгоритма и из других скриптов

In [ ]:
banki.to_csv(
    'drive/MyDrive/Colab Notebooks/sber/news/data/banki.csv', index=False)

In [ ]:
banki.head()

         id  ...                source
0  10940845  ...              Известия
1  10940844  ...                   РБК
2  10940817  ...  Партнёрский материал
3  10940847  ...              Banki.ru
4  10940843  ...              Известия

[5 rows x 8 columns]

Самая просматриваемая статья

In [ ]:
banki[banki.views == banki.views.max()]

            id  ...      source
98142  8421613  ...  Коммерсант

[1 rows x 8 columns]

## Очистка (убрать комментарии)

In [ ]:
# banki['title'] = banki.title.apply(clean_text)
# banki['text'] = banki.text.apply(clean_text)

# vtb.ru

Повторим вышереализованный алгоритм для сайта ВТБ

## Загрузка имеющихся данных

In [ ]:
# скачать можно здесь: https://drive.google.com/file/d/1pNykrWil_aDGVfpHcz1fXDN-4gglXdf3/view?usp=sharing
vtb = pd.read_csv('drive/MyDrive/Colab Notebooks/sber/news/data/vtb.csv',
                  dtype={'id': np.str,
                         'title': np.str,
                         'text': np.str,
                         'url': np.str,
                         'time': np.str,
                         'views': np.int64,
                         'comments': np.int64,
                         'source': np.str
                         })
vtb.time = pd.to_datetime(vtb.time, format='%Y-%m-%d %H:%M:%S')
vtb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2909 entries, 0 to 2908
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        2909 non-null   object
 1   title     2907 non-null   object
 2   text      2907 non-null   object
 3   url       2909 non-null   object
 4   time      2909 non-null   datetime64[ns]
 5   views     2909 non-null   int64
 6   comments  2909 non-null   int64
 7   source    2909 non-null   object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 181.9+ KB

## Цикл парсинга

Создадим цикл для парсинга новостей с сайта ВТБ

In [ ]:
if sites['vtb']['on']:
    for page in range(sites['vtb']['first_page'], sites['vtb']['last_page']):
        count_add_articles = 0
        url = 'https://vtb.ru/o-banke/press-centr/novosti-i-press-relizy/?page=' + \
            str(page)
        response = load_page(url)
        if response == -1:
            continue
        soup = BeautifulSoup(response.text, 'lxml')
        articles = soup.find_all('div', class_='news-grid__content__item')
        for article in articles:
            # Кол-во просмотров
            views = 0
            # Кол-во комментариев
            comments = 0
            # Источник новости
            source = 'vtb.ru'
            article_url = article.find('a').get('href')
            if article_url == '':
                continue
            article_id = str(article_url.split('/')[6])
            if vtb[vtb['id'] == article_id].shape[0] == 0:
                url = 'https://vtb.ru' + article_url
                response = load_page(url)
                if response == -1:
                    continue
                soup = BeautifulSoup(response.text, 'lxml')
                # Title
                title = soup.find(
                    'section', class_='common-header').find('h1').text
                # Text
                text = soup.find(
                    'div', class_='news-item__main common-text').text
                # Time
                time = soup.find(
                    'div', class_='date-block').text.replace('дата', '').replace('\n', '')
                vtb = vtb.append({'id': str(article_id),
                                  'title': str(clean_text(title)),
                                  'text': str(clean_text(text)),
                                  'url': str(url),
                                  'time': pd.to_datetime(time, format='%d.%m.%Y'),
                                  'views': int(views),
                                  'comments': int(comments),
                                  'source': str(source)}, ignore_index=True)
                count_add_articles += 1
        sites['vtb']['first_page'] = page
        if debug:
            print('Page {}: ADD {}'.format(page, count_add_articles))

Page 1: ADD 7
Page 2: ADD 8
Page 3: ADD 8
Page 4: ADD 8
Page 5: ADD 8
Page 6: ADD 8
Page 7: ADD 8
Page 8: ADD 2
Page 9: ADD 0

In [ ]:
vtb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        2966 non-null   object
 1   title     2964 non-null   object
 2   text      2964 non-null   object
 3   url       2966 non-null   object
 4   time      2966 non-null   datetime64[ns]
 5   views     2966 non-null   int64
 6   comments  2966 non-null   int64
 7   source    2966 non-null   object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 185.5+ KB

## Обработка дубликатов

In [ ]:
vtb.id.nunique()

2966

In [ ]:
vtb.drop_duplicates(subset=['id'], inplace=True, keep='last')
vtb.shape

(2966, 8)

In [ ]:
vtb[vtb.duplicated()].shape

(0, 8)

## Выгрузка в csv

In [ ]:
vtb.to_csv('drive/MyDrive/Colab Notebooks/sber/news/data/vtb.csv', index=False)

In [ ]:
vtb.tail()

                                                     id  ...  source
2961  2021-02-15-dmitriy-breytenbikher-vozglavil-rey...  ...  vtb.ru
2962  2021-02-15-pre-ipo-fond-vtb-kapital-investitsi...  ...  vtb.ru
2963  2021-02-15-vtb-snizhaet-komissiyu-na-perevody-...  ...  vtb.ru
2964  2021-02-15-vtb-vaktsinatsiya-na-tret-povysila-...  ...  vtb.ru
2965  2021-02-15-basketbolnoe-shou-match-vsekh-zvezd...  ...  vtb.ru

[5 rows x 8 columns]

## Очистка (убрать комментарии)

In [ ]:
# vtb['title'] = vtb.title.apply(clean_text)
# vtb['text'] = vtb.text.apply(clean_text)

# alfabank.ru

Повторим вышереализованный алгоритм для сайта Альфабанка

## Загрузка имеющихся данных

In [ ]:
# скачать можно здесь: https://drive.google.com/file/d/1k7mKvSyUvAbflRHuK8DlLwAykxCTVABG/view?usp=sharing
alfa = pd.read_csv('drive/MyDrive/Colab Notebooks/sber/news/data/alfa.csv',
                   dtype={'id': np.str,
                          'title': np.str,
                          'text': np.str,
                          'url': np.str,
                          'time': np.str,
                          'views': np.int64,
                          'comments': np.int64,
                          'source': np.str
                          })
alfa.time = pd.to_datetime(alfa.time, format='%Y-%m-%d %H:%M:%S')
alfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4054 entries, 0 to 4053
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4054 non-null   object
 1   title     4054 non-null   object
 2   text      4032 non-null   object
 3   url       4054 non-null   object
 4   time      4054 non-null   datetime64[ns]
 5   views     4054 non-null   int64
 6   comments  4054 non-null   int64
 7   source    4054 non-null   object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 253.5+ KB

## Цикл парсинга

In [ ]:
if sites['alfa']['on']:
    url_base = 'https://alfabank.ru'
    for url_year in range(sites['alfa']['first_page'], sites['alfa']['last_page']):
        count_add_articles = 0
        for url_month in range(1, 13):
            if url_month < 10:
                url_month = '0' + str(url_month)
            url = url_base + '/press/news/' + \
                str(url_year) + '/' + str(url_month) + '/'
            response = load_page(url)
            if response == -1:
                continue
            soup = BeautifulSoup(response.content, 'lxml')
            articles = soup.find_all('div', class_='news-item')
            if len(articles) == 0:
                continue
            for article in articles:
                # Кол-во просмотров
                views = 0
                # Кол-во комментариев
                comments = 0
                # Источник новости
                source = 'alfabank.ru'
                article_url = article.find('a').get('href')
                article_id = str(article_url.split('/')[3]) + '_' + str(article_url.split('/')[4]) + '_' + str(
                    article_url.split('/')[5]) + '_' + str(article_url.split('/')[6].split('.')[0])
                if alfa[alfa['id'] == article_id].shape[0] == 0:
                    # Title
                    title = article.find('div', class_='title').text
                    # Time
                    time = article.find('div', class_='date').text
                    url = url_base + article_url
                    response = load_page(url)
                    if response == -1:
                        continue
                    soup = BeautifulSoup(response.content, 'lxml')
                    article_text = soup.find(
                        'div', class_='news-article').find_all('p')
                    # Text
                    text = ''
                    for text_string in article_text[1:]:
                        text += text_string.text
                    alfa = alfa.append({'id': str(article_id),
                                        'title': str(clean_text(title)),
                                        'text': str(clean_text(text)),
                                        'url': str(url),
                                        'time': pd.to_datetime(time, format='%d.%m.%Y'),
                                        'views': int(views),
                                        'comments': int(comments),
                                        'source': str(source)}, ignore_index=True)
                    count_add_articles += 1
        sites['alfa']['first_page'] = url_year
        if debug:
            print('Year {}, ADD {}'.format(url_year, count_add_articles))

Year 2021, ADD 12

In [ ]:
alfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4066 entries, 0 to 4065
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4066 non-null   object
 1   title     4066 non-null   object
 2   text      4044 non-null   object
 3   url       4066 non-null   object
 4   time      4066 non-null   datetime64[ns]
 5   views     4066 non-null   int64
 6   comments  4066 non-null   int64
 7   source    4066 non-null   object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 254.2+ KB

## Обработка дубликатов

In [ ]:
alfa.id.nunique()

4066

In [ ]:
alfa.drop_duplicates(subset=['id'], inplace=True, keep='last')
alfa.shape

(4066, 8)

In [ ]:
alfa[alfa.duplicated()].shape

(0, 8)

## Выгрузка в csv

In [ ]:
alfa.to_csv('drive/MyDrive/Colab Notebooks/sber/news/data/alfa.csv', index=False)

In [ ]:
alfa.tail()

                  id  ...       source
4061  2021_3_4_76326  ...  alfabank.ru
4062  2021_3_3_76260  ...  alfabank.ru
4063  2021_3_3_76257  ...  alfabank.ru
4064  2021_3_2_76174  ...  alfabank.ru
4065  2021_3_2_76172  ...  alfabank.ru

[5 rows x 8 columns]

## Очистка (убрать комментарии)

In [ ]:
# alfa['title'] = alfa.title.apply(clean_text)
# alfa['text'] = alfa.text.apply(clean_text)

# Выгрузка новостей для рассылки

Реализуем простейший алгоритм подбора новостей для рассылки коллегам

In [ ]:
banki.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113814 entries, 0 to 113813
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        113814 non-null  object
 1   title     113814 non-null  object
 2   text      113736 non-null  object
 3   url       113814 non-null  object
 4   time      113814 non-null  datetime64[ns]
 5   views     113814 non-null  int64
 6   comments  113814 non-null  int64
 7   source    113776 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 7.8+ MB

In [ ]:
# номер текущей недели
number_of_week = dt.datetime.now().date().isocalendar()[1]

In [ ]:
if sites['send']:
    with pd.ExcelWriter('drive/MyDrive/Colab Notebooks/sber/news/data/send.xlsx') as writer:
        banki_send = pd.DataFrame(columns=banki.columns)
        if sites['banki']['send']:
            for i in range(1, 8):
                banki_send = banki_send.append(banki[(banki.time.dt.isocalendar().year == 2021) &
                                                     (banki.time.dt.isocalendar().week == number_of_week) &
                                                     (banki.time.dt.isocalendar().day == i)].sort_values(by='views', ascending=False).head(3))
            display(banki_send.head())
            banki_send.to_excel(writer, sheet_name='banki')
        elif sites['vtb']['send']:
            vtb_send = vtb[(vtb.time.dt.isocalendar().year == 2021) & (
                vtb.time.dt.isocalendar().week == number_of_week)].sort_values(by='time', ascending=True)
            display(vtb_send.head())
            vtb_send.to_excel(writer, sheet_name='vtb')
        elif sites['alfa']['send']:
            alfa_send = alfa[(alfa.time.dt.isocalendar().year == 2021) & (
                alfa.time.dt.isocalendar().week == number_of_week)].sort_values(by='time', ascending=True)
            display(alfa_send.head())
            alfa_send.to_excel(writer, sheet_name='alfa')
        else:
            banki_send.to_excel(writer, sheet_name='clean')

              id  ...    source
113434  10942262  ...  Banki.ru
113445  10942251  ...  Banki.ru
113442  10942253  ...  Banki.ru
113422  10942319  ...  Banki.ru
113416  10942325  ...  Banki.ru

[5 rows x 8 columns]

# Вывод

Данный скрипт позволяет осуществлять парсинг 3 источников (банки, ВТБ, альфабанк), очищать данные и делать выборку новостей для рассылки